@import './config/_variables';

.instance-nav-container {
  border-right: 3px solid $PRIMARY_LIGHT;
  width: 30%;

  .instance-nav-header {

    @media screen and (max-width: $small) {
      font-size: 1.5em;
    }

    @media screen and (min-width: $large) {
      font-size: 1.875vw;
    }

    text-align: center;
  }

  .instance-container, .selected-instance-container {
    padding: 5% 10%;
    margin: 0 5%;

    .instance-display-text:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    .instance-display-text {

      margin: 3% 0;

      @media screen and (max-width: $small) {
        font-size: 1.25em;
      }
  
      @media screen and (min-width: $large) {
        font-size: 1.56vw
      }
    }
  }

  .selected-instance-container {
    background-color: lighten($PRIMARY_DARK, 10%);
  }
}

.database-selector-container {

  .database-selector-prompt {

    @media screen and (max-width: $small) {
      font-size: 1em;
    }

    @media screen and (min-width: $large) {
      font-size: 1.25vw;
    }

  }

  .database-selector {
    background-color: $PRIMARY_LIGHT;
    color: $PRIMARY_DARK;
    border-radius: 5px;
    border: 1px solid $PRIMARY_LIGHT;
    outline: none;
    cursor: pointer;
    
    @media screen and (max-width: $small) {
      font-size: 1em;
    }

    @media screen and (min-width: $large) {
      font-size: 1.25vw;
    }
  }
}

