html {
  height: 100vh;
  width: 100vw;
}

body {
  /* display: inline-block; */
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
}

#graphsComponentContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
  height: 55%;
  width: 60%;
  left: 30%;
  background-color: orange;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#eventComponentContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: 30%;
  height: 55%;
  width: 60%;
  background-color: red;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#keyspaceComponentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 30%;
  height: 55%;
  width: 60%;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background-color: green;
}
#tableContainer {
  background-color: black;
}

#tableCell {
  /* color: white; */
}

#tableBody {
  /* color: white; */
}
.filterNavContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 20%;
  left: 30%;
  height: 10%;
  width: 60%;
  background-color: purple;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.searchFilterDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#databaseNavContainer {
  position: absolute;
  top: 10%;
  left: 5%;
  height: 80%;
  width: 15%;
  background-color: blue;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pageNavContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  top: 2%;
  left: 25%;
  height: 15%;
  width: 70%;
  background-color: lightPink;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#keyListComponentContainer {
  position: absolute;
  height: 20px;
  width: 100px;
  color: black;
  background-color: orange;
}

#refreshButton {
  position: relative;
  margin-left: 300px;
  z-index: 1;
}

.singleDatabase {
  border: 1px solid black;
  height: 40px;
}
.singleDatabase:hover {
  cursor: pointer;
}
#redisInstance {
  height: 10%;
}
#databaseHolder {
  height: 90%;
}
