@import './config/_variables.scss';

.MuiDataGrid-footer p {
  color: $PRIMARY_LIGHT;
}

.MuiTablePagination-root {
  color: $PRIMARY_LIGHT;
}

.MuiTablePagination-selectIcon {
  color: $PRIMARY_LIGHT;
}