@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$PRIMARY_RED: rgb(233, 0, 0);
$PRIMARY_DARK: rgb(35, 35, 35);
$PRIMARY_LIGHT: rgb(200, 200, 200);

$PRIMARY_FONT: 'Nunito Sans', 'sans-serif';

//Screen media queries: Fixed sizes for 1280px or smaller
$small: 1280px;
$large: 1281px;